@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "League Spartan", sans-serif;
  max-width: 100vw;
  min-height: 100vh;
  background: url("images/bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  align-items: center;
}

.wrap-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  margin-top: 3em;
  text-align: center;
}
.wrap-1 h1 {
  color: hsl(300, 43%, 22%);
  font-size: 2.5rem;
  line-height: 0.8;
  padding: 0.5em;
  margin-top: 0.25em;
  font-weight: 700;
}
.wrap-1 p {
  font-size: 18px;
  color: hsl(303, 10%, 53%);
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 0.8em;
}

.wrap-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 20em;
}

[class^=banner-] {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 4.6em;
  width: 20em;
  width: 325px;
  border-radius: 0.5em;
  color: hsl(300, 43%, 22%);
  background-color: hsl(300, 24%, 96%);
  font-weight: 700;
  font-size: 17px;
  margin: 0.45em;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 7em;
}

.wrap-3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  margin-top: 0.75em;
}

[class^=box-] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  padding: 1.2em;
  margin: 0.5em;
  width: 325px;
  background-color: hsl(300, 43%, 22%);
  border-radius: 0.5em;
  color: hsl(0, 0%, 100%);
}

.buyer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 3em;
  width: 290px;
  font-weight: 700;
  margin-top: 1.4em;
  margin-bottom: 0.75em;
}

.logo img {
  border-radius: 50%;
  margin: 0 1em;
  height: 2.5em;
  width: 2.5em;
}

.name {
  padding: 0.2em;
}

.verified {
  font-weight: 400;
  color: hsl(333, 80%, 67%);
  padding: 0.2em;
}

[class^=box-] p {
  padding: 1em;
  line-height: 1.3;
}

@media (min-width: 769px) {
  body {
    background: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
  }
  main {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }
  .wrap-1 {
    text-align: left;
    width: 30%;
    height: 20em;
    margin-right: 8%;
    justify-content: center;
  }
  .wrap-1 h1 {
    padding: 0.5em 0;
    font-size: 3.5rem;
  }
  [class^=banner-] {
    flex-direction: row;
    width: 415px;
    height: 3.5em;
  }
  .wrap-2 {
    width: 35%;
    height: 40%;
    align-self: center;
    margin-top: 5em;
    margin-left: 5em;
  }
  .banner-1 {
    align-self: flex-start;
  }
  .banner-3 {
    align-self: flex-end;
  }
  .wrap-3 {
    flex-direction: row;
    width: 100%;
    height: 20em;
    margin-bottom: 5em;
  }
  [class^=box-] {
    width: 22em;
    margin: 1em;
  }
  .box-1 {
    align-self: flex-start;
  }
  .box-3 {
    align-self: flex-end;
  }
  .attribution {
    position: fixed;
    bottom: 0;
    font-size: 11px;
    text-align: center;
  }
}
.attribution {
  bottom: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=styles.css.map */